* {
  margin: 0;
  padding: 0;
}
/* Container including footer */

.container {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto;
 
}


/* Navbar */
.navbar {
  text-align: center;
  padding-bottom: 30px;
}

.navbar ul li{
  display: inline;
  font-size: 30px;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
}

.navbar a {
  color: black;
  padding: 5px 70px;
  transition-duration: .5s;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

.navbar a:link {
  text-decoration: none;
}

.navbar a:hover {
  color: blue;
  text-decoration: underline;
}

/* mobile nav-bar hamburger */

@media screen and (max-width:530px) {

  .container {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: auto;
  }

  #menu-icon {
  background: url(photos/Hamburger_icon.svg) no-repeat right;
  display: block;
  width: 530px;
  height: 40px;
  cursor: pointer;
  background-color: red;
  margin: auto;
  text-align: center;
  }
  

  .navbar ul {
    overflow: hidden;
    background: #505050;
    height: 0;
  }

  .navbar ul.open {
    height: auto;
  }

  .navbar ul li {
    text-align: center;
    float: none;
    padding: 5px;
    width: 100%;
    margin: 0;
  }

  .navbar ul li a {
    color: #fff;
    padding: 10px;
    border-bottom: 2px solid #404040;
    display: block;
    margin: 0;
    width: 100%;
  }
}

.hero {
  /* background-image: url('photos/woodbackground.jpg'); */
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cover cover;
  padding-bottom: 120px;
}

/* heading element */

.heading {
  text-align: center;
  font-family: 'Abel', sans-serif;
  color: red;
  letter-spacing: 2px;
  margin-top: 30px;
}

.heading h1 {
  font-size: 50px;
  /* text-decoration: underline; */
  padding-bottom: 40px;
}

.heading p {
  font-family: 'Helvetica Neue';
  font-size: 15px;
  text-transform: uppercase;
  margin: 0;
}

/* social media buttons */

.social-media {
  /* position: fixed; */
  top: 200px;
}

.social-media ul {
  padding: 0px;
  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-270px, 0);
}

.fa-ul {
  margin-bottom: 0;
  margin-top: 0;
}

.social-media ul li {
  display: block;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 300px;
  text-align: right;
  padding: 10px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.social-media ul li:hover {
  -webkit-transform: translate(110px, 0);
  -moz-transform: translate(110px, 0);
  -ms-transform: translate(110px, 0);
  -o-transform: translate(110px, 0);
  transform: translate(110px, 0);
  background: rgba(255, 255, 255, 0.4);
}

.social-media ul li a {
  color: red;
  font-size: 20px;
  font-family: 'Abel', sans-serif;
  text-decoration: none;
}

.social-media ul li:hover i {
  color: #fff;
  background: red;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.social-media ul li i {
  margin-left: 10px;
  color: blue;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* PDF */

.pdf {
  text-align: center;
  margin-bottom: 150px;
}

.pdf object {
  width: 800px;
  height: 700px;
}

.button {
  text-align: center;
  width: 300px;
  height: auto;
  margin: auto;
}

.button button{
  font-size: 30px;
  overflow: hidden;
  /* background-color: none; */
  /* border: 2px solid black; */
}

/* Image Container for Langauges*/

.image-hero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  margin-left: 100px;
}

.image-hero img {
  width: 200px;
  height: 150px;
}

.image-hero img:hover {
  box-shadow: 20px 20px 20px gray;
}

/* Footer */

footer {
  background-color: #262626;
  height: 100%;
  width: 100%;
  padding: 10px;
  font-family: 'Helvetica Neue';
}

.foot {
  color: white;
  margin-left: 50px;
  text-decoration: none;
}

.foot ul,
li {
  list-style: none;
  line-height: 2rem;
  padding: 0;
  position: relative;
}

.foot-directory {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.foot-menu {
  flex: 1;
}

.foot-social {
  flex: 1;
}

.foot-directory h3 {
  color: white;
}

.foot-directory li a {
  color: #5d5d5d;
}

.foot .email {
  color: green;
  text-decoration: underline;
  cursor: pointer;
}

.foot .descrip {
  color: #5d5d5d;
}

.foot li a:link {
  text-decoration: none;
  font-size: 19px;
}

footer a:hover {
  color: green;
  text-decoration: underline;
}

.copyright {
  text-align: center;
  opacity: .5;
  color: #5d5d5d;
  margin-top: 30px;
}