* {
  margin: 0;
  padding: 0;
}
/* Container including footer */

.container {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto;
 
}


/* Navbar */
nav {
  background-color:darkslategray;
}

.brand-logo img{
  width: 100px;
  height: 70px;
  float: left;
}


#nav-mobile li a:hover {
  color: aquamarine;
}

/* mobile nav-bar hamburger */

/* @media screen and (max-width:530px) {

  .container {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: auto;
  }

} */


/* heading element */

.heading {
  text-align: center;
  letter-spacing: 2px;
}


#summary {
  box-sizing: border-box;
}

.heading h1 {
  font-size: 50px;
  font-family: 'Abel', sans-serif;
  padding-bottom: 40px;
  color: red;
}

.bold {
  font-weight: bold;
}

.heading p {
  font-size: 18px;
  text-transform: uppercase;
  margin: 0;
  line-height: 37px;
}

.heading img {
  width: 629px;
  height: auto;
}

#photo {
  box-sizing: border-box;
}

.para {
  font-family: 'Helvetica',sans-serif;
}

/* social media buttons */

.left-sidebar {
  position: fixed;
  top: 20%;
  z-index: 999;
}

.left-sidebar ul {
  border: none;
  
}

.left-sidebar i.fa {
  padding: 3px;
  font-size: 20px;
  color: #444;
}

.left-sidebar li {
  width: 50px;
  transition: .5s;
}

li .fa-github {
  background-color: white;
}

.left-sidebar li:nth-child(1) {
  background:#0077B5;
}


.left-sidebar li:nth-child(2) {
  background: black;
}

.left-sidebar li:hover{
  width: 70px;
}


/* PDF */

.pdf {
  text-align: center;
  margin-bottom: 150px;
}

.pdf object {
  width: 800px;
  height: 700px;
}

.button {
  text-align: center;
  width: 300px;
  height: auto;
  margin: auto;
  padding: 50px;
}

.button button{
  font-size: 30px;
  overflow: hidden;
  /* background-color: none; */
  /* border: 2px solid black; */
}

/* Image Container for Langauges*/

.image-hero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  margin-left: 100px;
}

.image-hero img {
  width: 200px;
  height: 150px;
}

.image-hero img:hover {
  box-shadow: 20px 20px 20px gray;
}

/* Footer */

footer {
  background-color: #262626;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.foot {
  color: white;
  margin-left: 50px;
  text-decoration: none;
}

.foot ul,
li {
  list-style: none;
  line-height: 2rem;
  padding: 0;
  position: relative;
}

.foot-directory {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.foot-menu {
  flex: 1;
}

.foot-social {
  flex: 1;
}

.foot-directory h3 {
  color: white;
}

.foot-directory li a {
  color: #5d5d5d;
}

.foot .email {
  color: green;
  text-decoration: underline;
  cursor: pointer;
}

.foot .descrip {
  color: #5d5d5d;
}

.foot li a:link {
  text-decoration: none;
  font-size: 19px;
}

footer a:hover {
  color: green;
  text-decoration: underline;
}

.copyright {
  text-align: center;
  opacity: .5;
  color: #5d5d5d;
  margin-top: 30px;
}